@import "utils/vars";

.process {
  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1146px;
    margin: 0 auto;
    padding: 250px 227px 257px;
    z-index: 1;

    @media (max-width: $breakpoint-large-notebook) {
      padding: 250px 127px 257px;
    }

    @media (max-width: $breakpoint-notebook) {
      padding: 250px 30px 257px;
    }

    @media (max-width: $breakpoint-large-tablet) {
      flex-direction: column;
      align-items: center;
      padding: 100px 30px;
    }
  }

  &__column-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 50px;

    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__column {
    position: absolute;

    @media (max-width: $breakpoint-large-tablet) {
      position: static;
    }

    @media (max-width: $breakpoint-tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &--right {
      top: 148px;
      right: 227px;

      @media (max-width: $breakpoint-large-notebook) {
        right: 127px;
      }

      @media (max-width: $breakpoint-notebook) {
        right: 30px;
      }

      @media (max-width: $breakpoint-large-tablet) {
        margin-top: 0;
        top: 0;
        right: -120px;
      }
    }

    &--left {
      top: 280px;
      right: 521px;

      @media (max-width: $breakpoint-large-notebook) {
        right: 421px;
      }

      @media (max-width: $breakpoint-notebook) {
        right: 324px;
      }

      @media (max-width: $breakpoint-tablet) {
        margin-bottom: 30px;
      }
    }
  }

  &__item {
    max-width: 362px;

    @media (max-width: $breakpoint-large-tablet) {
      text-align: center;
    }

    @media (max-width: $breakpoint-tablet) {
      max-width: 264px;
    }
  }

  &__header {
    font-size: 32px;
    line-height: 42px;
    margin: 16px 0 24px;

    @media (max-width: $breakpoint-large-tablet) {
      font-size: 28px;
      line-height: 40px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 21px;

    & span {
      display: block;
    }

    & span:first-child {
      margin-bottom: 16px;
    }
  }
}
