@import "utils/vars";

.process-card {
  border-radius: 24px;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.2);
  transition: 0.2s;

  &:hover {
    transform: rotate(1deg);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &__container {
    width: 264px;
    height: 264px;
    padding: 32px;
    box-sizing: border-box;
    background: $c-white;
    border-radius: 24px;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 24px;
    font-size: 13px;
    border-radius: 23px;
    color: $bgc-light-blue;
    background-color: rgba(86, 204, 242, 0.1);

    @media (max-width: $breakpoint-large-tablet) {
      display: inline-flex;
    }

    &--green {
      color: $bgc-green;
      background-color: rgba(21, 216, 80, 0.1);
    }

    &--yellow {
      color: $bgc-yellow;
      background-color: rgba(252, 201, 29, 0.1);
    }

    &--red {
      color: $bgc-red;
      background-color: rgba(243, 99, 99, 0.1);
    }
  }

  &__text {
    margin: 24px 0 32px;
    font-weight: 600;
  }

  &__text span {
    display: block;
  }

  &__link {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover .process-card__arrow {
      transform: scale(1.1);
    }

    &:hover .process-card__button {
      color: $bgc-blue;
    }
  }

  &__arrow {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 16px;
    background-color: $bgc-light-blue;
    border-radius: 50%;
    transition: $transition;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 16px;
      height: 16px;
      background-image: url(../images/process/arrow.svg);
      background-repeat: no-repeat;
    }

    &--green {
      background-color: $bgc-green;
    }

    &--yellow {
      background-color: $bgc-yellow;
    }

    &--red {
      background-color: $bgc-red;
    }
  }

  &__button {
    font-size: 15px;
    line-height: 22px;
    color: #334563;
    transition: color $transition;
  }
}
