@import "utils/vars";

.testimonials {
  &__container {
    max-width: 1146px;
    margin: 0 auto;
    padding: 148px 227px 168px;

    @media (max-width: $breakpoint-large-notebook) {
      padding: 148px 127px 168px;
    }

    @media (max-width: $breakpoint-notebook) {
      padding: 148px 30px 168px;
    }

    @media (max-width: $breakpoint-large-tablet) {
      padding: 60px 0;
      text-align: center;
    }
  }

  &__header {
    margin: 16px 0 85px;
    font-size: 32px;
    line-height: 48px;

    @media (max-width: $breakpoint-large-tablet) {
      margin: 16px 0 30px;
    }
  }

  &__case {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 69px;

    @media (max-width: $breakpoint-large-tablet) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 0;
      row-gap: 40px;
    }

    @media (max-width: $breakpoint-tablet) {
      grid-template-columns: 1fr;
    }
  }

  &__title--gilad {
    color: $bgc-light-blue;
  }

  &__title--hawkins {
    color: $bgc-yellow;
  }

  &__title--grover {
    color: $bgc-red;
  }
}
